@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
/*general*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333333;
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main, header, footer, aside{
    display: block;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #F5F7FF;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}
::-webkit-scrollbar-thumb:hover {
    background: #66CFFA;
}
.ovh{
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}
input, button, select{
    padding: 0;
    border: none;
    outline: none;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
a, button, svg{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a{
    outline: none;
    text-decoration: none;
    color: inherit;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
h1, .h1{
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}
h2, .h2{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
h3, .h3{
    font-size: 30px;
    line-height: 37px;
}
h4, .h4{
    font-size: 24px;
    line-height: 28px;
}
.label{
    display: inline-block;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
}
.inp{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #81859C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.inp-error{
    border: 1px solid #E5353C;
}
::-webkit-input-placeholder {
    color: #81859C;
}
::-moz-placeholder {
    color: #81859C;
}
:-ms-input-placeholder {
    color: #81859C;
}
:-moz-placeholder {
    color: #81859C;
}
.label-check{
    position: relative;
    padding-left: 33px;
    font-size: 12px;
    line-height: 14px;
}
.label-check:after,
.label-check:before{
    content: '';
    position: absolute;
}
.label-check:before{
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #00ADEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label-check:after{
    display: none;
    top: 2px;
    left: 4px;
    width: 12px;
    height: 10px;
    background: transparent url('../img/general/check.svg') center center no-repeat;
    background-size: contain;
}
input:checked + .label-check:before{
    background-color: #00ADEE;
}
input:checked + .label-check:after{
    display: block;
}

.select{
    position: relative;
    width: 100%;
}
.select select{
    display: none;
}
.select-currency .select-selected{
    width: 100%;
    height: 40px;
    line-height: 38px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #81859C;
    color: #333333;
    background-color: #fff;
}
.select-currency .select-selected.select-arrow-active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.select-currency .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 17px;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    background: url("../img/general/select-arrow.svg") no-repeat 50% 50%;
    background-size: contain;
}
.select-currency .select-selected.select-arrow-active:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-currency .select-items div, .select-selected{
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    user-select: none;
}
.select-currency .select-items div{
    height: 40px;
    border-top: 1px solid rgba(129, 133, 156, 0.5);
    line-height: 39px;
    color: #333333;
}
.select-currency .select-items div.same-as-selected{
    background-color: rgba(129, 133, 156, 0.3);
    cursor: default;
}
.select-currency .select-items div span, .select-selected span{
    margin-left: 7px;
}
.select-currency .select-items{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #81859C;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 999;
}
.select-currency .select-arrow-active + .select-items{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select-hide{
    display: none;
}
.select-currency .select-items div:not(.same-as-selected):hover{
    background-color: rgba(129, 133, 156, 0.3);
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 263px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.btn svg{
    margin-right: 11px;
}
.btn-white-empty{
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}
.btn-white-empty:hover{
    background-color: #FFFFFF;
    color: #333333;
}
.btn-primary,
.btn-primary-w-icon{
    background-color: #1062AA;
    color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary-w-icon:hover{
    background-color: #00ADEE;
    color: #333333;
}
.btn-primary-w-icon svg{
    stroke: #00ADEE;
}
.btn-primary-w-icon:hover svg{
    stroke: #FFFFFF;
}
.video{
    position: relative;
    padding-top: 56.25%;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.top__inner{
    width: 100%;
    max-width: 484px;
    margin-left: auto;
}
.top h1{
    text-align: left;
}
.top-preheading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1062AA;
}
.top-description{
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: 24px;
    line-height: 34px;
}
.top-description a{
    color: #1062AA;
}
/*Header*/
.header{
    padding: 26px 0;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header-pages{
    display: flex;
    align-items: center;
}
.header-pages__item{
    display: flex;
    align-items: center;
    padding: 5px 16px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-align: center;
    border: 1px solid #333333;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}
.header-pages__item:not(:last-child){
    margin-right: 20px;
}
.header-pages__item:hover:nth-child(1),
.header-pages__item_active:nth-child(1){
    background-color: #00ADEE;
    border: 1px solid #00ADEE;
}
.header-pages__item:hover:nth-child(2),
.header-pages__item_active:nth-child(2){
    background-color: #FFE735;
    border: 1px solid #FFE735;
}
.header-pages__item:hover:nth-child(3),
.header-pages__item_active:nth-child(3){
    background-color: #6FC6AD;
    border: 1px solid #6FC6AD;
}
.header-logo{
    margin: 0 auto;
}
.header-links{
    display: flex;
    align-items: center;
}
.header-links__item{
    margin-right: 66px;
    font-size: 16px;
    line-height: 19px;
    color: #81859C;
}
.header-links__item:hover{
    color: #1062AA;
}
.header-cabinet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 30px;
    border: 1px solid #1062AA;
    font-size: 16px;
    line-height: 19px;
    color: #1062AA;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}
.header-cabinet:hover{
    background-color: #1062AA;
    color: #FFFFFF;
}
.header-lang{
    position: relative;
    margin-left: 28px;
}
.header-lang__switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-lang__switch-icon svg{
    fill: #81859C;
    stroke: #ffffff;
}
.header-lang__switch-text{
    margin: 0 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: #81859C;
}
.header-lang__switch-arrow{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-lang__switch_active .header-lang__switch-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-lang__select{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    margin-top: 10px;
    padding: 2px 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #E6E7EB;
    z-index: 11;
}
.header-lang__item{
    padding: 4px 12px;
}
.header-lang__link{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.header-lang__link_current,
.header-lang__link:hover{
    color: #81859C;
    text-decoration: none;
}
/*Footer*/
.footer{
    margin-top: auto;
    padding: 60px 0 30px 0;
    background-color: #333333;
    color: #E5E5E5;
}
.footer__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #F7B916;
}
.footer-social{
    display: flex;
    align-items: center;
}
.footer-social__item:not(:last-child){
    margin-right: 16px;
}
.footer-social__item svg{
    fill: #00ADEE;
}
.footer-social__item:hover svg{
    fill: #ffffff;
}
.footer-contact:not(:last-child){
    margin-right: 30px;
}
.footer-contact__title{
    margin-bottom: 14px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}
.footer-contact__link{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00ADEE;
}
.footer-contact__link svg{
    margin-right: 10px;
}
.footer__bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 36px;
    font-size: 12px;
    line-height: 14px;
}
.copyrights{
    width: 100%;
    max-width: 250px;
}
.footer__bottom-links{
    display: flex;
    flex-wrap: wrap;
}
.footer__bottom-links a:not(:first-child){
    margin-left: 60px;
}
/*slick*/
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots li{
    width: 14px;
    height: 14px;
    margin: 0 6px;
    font-size: 0;
    line-height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #EBF0FF;
    cursor: pointer;
}
.slick-dots li.slick-active{
    background-color: #00ADEE;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
}
/*Feedbacks*/
.feedbacks__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 41px;
    margin-left: -15px;
    margin-right: -15px;
}
.feedback{
    width: 100%;
    max-width: 360px;
    margin: 0 15px;
    padding: 30px 20px;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 26px;
}
.feedback__media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.feedback__avatar{
    width: 38px;
    height: 38px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #F7B916;
}
.feedback__info{
    margin-top: 6px;
    font-size: 14px;
    color: #81859C;
    text-align: center;
}
.feedback__info-author{
    font-size: 18px;
    font-weight: 700;
}
.feedback__text{
    margin-top: 30px;
}
.feedback__text:before,
.feedback__text:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 12px;
    background-size: contain;
}
.feedback__text:before{
    margin-right: 2px;
    background: transparent url('../img/landing/quote-start.svg') center center no-repeat;
}
.feedback__text:after{
    margin-left: 2px;
    background: transparent url('../img/landing/quote-end.svg') center center no-repeat;
}
/*Products*/
.products__inner{
    position: relative;
    margin-top: 36px;
}
.products__slider{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.products-slick-arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #F5F7FF;
    cursor: pointer;
}
.products-slick-arrow svg{
    fill: #00ADEE;
}
.products-slick-arrow.slick-disabled svg{
    fill: #81859C;
}
.products-slick-arrow--next{
    right: 0;
}
.products-slick-arrow--prev{
    left: 0;
}
/*why*/
.why__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.why-item{
    display: flex;
    width: 100%;
    max-width: 380px;
    margin: 30px 65px 0 65px;
}
.why-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #F5F7FF;
    overflow: hidden;
}
.why-item__content{
    margin-left: 20px;
}
.why-item__title{
    font-size: 24px;
    line-height: 28px;
}
.why-item__description{
    margin-top: 13px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
.why-item__description a{
    font-weight: 500;
    color: #00ADEE;
}
/*faq*/
.faq__items{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 30px;
}
.faq-item{
    padding: 38px 0;
}
.faq-item:not(:last-child){
    border-bottom: 1px solid #EBF0FF;
}
.faq-item__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.faq-item__title{
    font-size: 24px;
    line-height: 24px;
    color: #1062AA;
}
.faq-item__arrow{
    min-width: 16px;
    margin-left: 15px;
    margin-right: 65px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.faq-item_active .faq-item__arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-item__body{
    display: none;
    width: 100%;
    max-width: 765px;
    padding: 0 15px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
}
/*how*/
.how__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.how-item{
    width: 100%;
    max-width: 270px;
    margin-top: 40px;
}
.how-item__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.how-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #F5F7FF;
    overflow: hidden;
}
.how-item:hover .how-item__icon{
    background-color: #00ADEE;
}
.how-item__arrow{
    margin-right: -20px;
}
.how-item__arrow svg{
    fill: #81859C;
}
.how-item:hover .how-item__arrow svg{
    fill: #00ADEE;
}
.how-item__title{
    font-size: 24px;
    line-height: 34px;
}
.how-item__description{
    margin-top: 9px;
    font-size: 16px;
    line-height: 26px;
    color: #81859C;
}
/*small form*/
.small__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 580px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
}
.small__form-field{
    width: 100%;
    max-width: 270px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 38px;
}
.small__form-btn,
.small__form-check{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.small__form-btn .btn-primary-w-icon{
    font-size: 14px;
    line-height: 16px;
}

/*---main page---*/
.main-page-top{
    padding: 110px 0 310px 0;
    background: transparent url('../img/landing/main-page-top.svg') center center no-repeat;
}
.main-page-top__inner{
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
}
.main-page-top__inner h1{
    margin: 10px 0 35px 0;
}
.main-page-format__slider{
    margin-top: 36px;
    padding-top: 35px;
}
.main-page-format__slider .slick-dots{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.main-page-format-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-page-format-slide__content{
    width: 100%;
    max-width: 415px;
    margin-left: 80px;
}
.main-page-format-slide__description{
    margin-top: 15px;
    margin-bottom: 43px;
    font-size: 24px;
    line-height: 34px;
    color: #81859C;
}
.main-page-format-slide .btn{
    font-size: 14px;
    line-height: 16px;
}
.feedbacks--main-page{
    padding: 185px 0;
}
.products--main-page{
    padding-bottom: 202px;
}
.main-page-questions{
    padding: 136px 0;
    background-color: #F5F7FF;
}
.main-page-questions__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-page-questions__media{
    margin-right: 165px;
}
.main-page-questions__text{
    margin-top: 9px;
    margin-bottom: 41px;
    font-size: 24px;
    line-height: 34px;
}
.main-page-questions__text a{
    color: #00ADEE;
}
/*--affiliate page---*/
.top--affiliate-page{
    padding-top: 116px;
    padding-bottom: 140px;
    background: transparent url('../img/landing/affiliate-page-top.svg') 25% top no-repeat;
}
.how--affiliate-page{
    padding: 124px 0 137px 0;
}
.products--affiliate-page{
    padding-bottom: 170px;
}
.feedbacks--affiliate-page{
    padding: 176px 0 160px 0;
}
.affiliate-page-what{
    padding: 112px 0 98px 0;
    background-color: #F5F7FF;
}
.affiliate-page-what__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
}
.affiliate-page-what__img{
    margin-right: 165px;
}
.affiliate-page-what__content{
    width: 100%;
    max-width: 384px;
}
.affiliate-page-what__text{
    margin-bottom: 41px;
    font-size: 24px;
    line-height: 34px;
}
.affiliate-page-what__text a{
    color: #1062AA;
}
.faq--affiliate-page{
    padding: 118px 0 144px 0;
}
/*---reseller page---*/
.top--reseller-page{
    padding: 116px 0 140px 0;
    background: transparent url('../img/landing/reseller-page-top.svg') 25% top no-repeat;
}
.how--reseller-page{
    padding: 124px 0 177px 0;
}
.how-reseller-page__after{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    font-size: 18px;
    line-height: 28px;
}
.how-reseller-page__after svg{
    margin-right: 9px;
}
.how-reseller-page__after a{
    font-weight: 500;
    color: #00ADEE;
}
.reseller-page-why__btn{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
.reseller-page-why__btn .btn{
    font-size: 14px;
    line-height: 16px;
}
.reseller-page-support{
    margin-top: 140px;
    padding: 125px 0 132px 0;
    background-color: #F5F7FF;
}
.reseller-page-support__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.reseller-page-support__content{
    width: 100%;
    max-width: 415px;
}
.reseller-page-support__content h2{
    text-align: left;
}
.reseller-page-support__text-1{
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
}
.reseller-page-support__text-2{
    display: flex;
    align-items: flex-start;
    margin-top: 11px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
.reseller-page-support__text-2 svg{
    min-width: 17px;
    margin-top: 5px;
    margin-right: 7px;
}
.reseller-page-support__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
.reseller-page-support-email{
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    font-size: 24px;
    line-height: 28px;
    color: #1062AA;
}
.reseller-page-support-email__icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin-right: 44px;
    background-color: #FFE735;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reseller-page-support-email__icon:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124px;
    height: 124px;
    margin: -62px 0 0 -62px;
    border: 3px solid #FFE735;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reseller-page-support-tel{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.reseller-page-support-tel__icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 38px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #00ADEE;
}
.reseller-page-support-tel__icon:after,
.reseller-page-support-tel__icon:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.reseller-page-support-tel__icon:after{
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;
    background-color: rgba(0, 173, 238, 0.1);
}
.reseller-page-support-tel__icon:before{
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    background-color: rgba(0, 173, 238, 0.1);
}
.reseller-page-program{
    padding: 124px 0 176px 0;
}
.reseller-page-program__description{
    width: 100%;
    max-width: 560px;
    margin: 26px auto 0 auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.reseller-page-program__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}
.reseller-page-program__items{
    margin-left: 190px;
}
.reseller-page-program-item{
    width: 100%;
    max-width: 324px;
    display: flex;
    align-items: center;
}
.reseller-page-program-item:not(:last-child){
    margin-bottom: 14px;
}
.reseller-page-program-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #F5F7FF;
    overflow: hidden;
}
.reseller-page-program-item__text{
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}
.reseller-page-form{
    padding-bottom: 181px;
}
.reseller-page-form h2 span{
    position: relative;
}
.reseller-page-form h2 span:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #FFE735;
    z-index: -1;
}
.faq--reseller-page{
    padding: 184px 0 176px 0;
}
.products--reseller-page{
    padding-bottom: 170px;
}

@media all and (max-width: 767px){
    /*header*/
    .header-logo{
        order: -1;
        margin-bottom: 30px;
    }
    .header-links{
        width: 100%;
        justify-content: center;
        margin: 15px 0;
    }
    .header-links__item:last-child{
        margin-right: 0;
    }
    /*footer*/
    .footer__top{
        flex-direction: column;
        align-items: center;
    }
    .footer-social{
        margin: 30px 0;
    }
    .footer__contacts{
        margin-top: 30px;
    }
    .footer__bottom{
        justify-content: center;
    }
    .footer__bottom-links a:not(:first-child) {
        margin-left: 15px;
    }
    .copyrights{
        order: 2;
        max-width: 100%;
        margin-top: 20px;
    }
    /*feedback*/
    .feedback{
        margin-bottom: 30px;
    }
    /*why*/
    .why-item{
        flex-direction: column;
        align-items: center;
        margin: 0 0 30px 0;
        text-align: center;
    }
    .why-item__content{
        margin-left: 0;
        margin-top: 10px;
    }
    /*faq*/
    .faq-item{
        padding: 20px 0;
    }
    .faq-item__arrow{
        margin-right: 0;
    }
    .faq-item__body{
        margin-top: 15px;
        padding: 0;
    }
    /*main page*/
    .main-page-top{
        padding: 60px 0;
        background: #FFFFFF;
    }
    .main-page-format-slide{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-page-format-slide__media{
        margin-bottom: 15px;
    }
    .main-page-format-slide__content{
        margin-left: 0;
    }
    .feedbacks--main-page{
        padding: 60px 0;
    }
    .products--main-page{
        padding-bottom: 60px;
    }
    .products__inner .slick-dots{
        margin-top: 15px;
    }
    .main-page-questions{
        padding: 60px 0;
    }
    .main-page-questions__inner{
        flex-direction: column;
    }
    .main-page-questions__media{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .main-page-questions__content{
        text-align: center;
    }
    /*affiliate page*/
    .top--affiliate-page{
        padding: 60px 0;
        background: #FFFFFF;
    }
    .how--affiliate-page{
        padding: 60px 0;
    }
    .feedbacks--affiliate-page{
        padding: 60px 0;
    }
    .affiliate-page-what{
        padding: 60px 0;
    }
    .affiliate-page-what__items{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .affiliate-page-what__img{
        margin-right: 0;
    }
    .faq--affiliate-page{
        padding: 60px 0;
    }
    .products--affiliate-page{
        padding-bottom: 60px;
    }
    /*reseller page*/
    .top--reseller-page{
        padding: 60px 0;
        background: #FFFFFF;
    }
    .how--reseller-page{
        padding: 60px 0;
    }
    .reseller-page-support{
        margin-top: 60px;
        padding: 60px 0;
    }
    .reseller-page-support__info{
        margin-left: 0;
        margin-top: 50px;
    }
    .reseller-page-support-email,
    .reseller-page-support-tel{
        flex-direction: column;
    }
    .reseller-page-support-email__icon,
    .reseller-page-support-tel__icon{
        margin-bottom: 40px;
        margin-right: 0;
    }
    .reseller-page-program{
        padding: 60px 0;
    }
    .reseller-page-program__items{
        margin-left: 0;
        margin-top: 30px;
    }
    .reseller-page-form,
    .products--reseller-page{
        padding-bottom: 60px;
    }
    .faq--reseller-page{
        padding: 60px 0;
    }
}